var en_name_show =  function(name) {
  var names_arr = name.split(" ");
  console.log(names_arr.length);
  var new_name ="";
  for (var i=0; i< names_arr.length;i++){
    a = names_arr[i];
    b = a[i][0].toUpperCase() + a.slice(-(a[i].length - 2)).toLowerCase();
    names_arr[i]=b;
  }
  return names_arr.join(" ");
}
var timer_check = function (time_value){
    time_value = parseInt(time_value);
    now = getDate(time_value * 1000);
    now_check = getDate()
    now_check_value = now_check.getTime()/1000
    console.log(now_check)
    var year = now.getFullYear();
    var month = now.getMonth() + 1;
    var date = now.getDate();
    var hour = now.getHours();
    var minute = now.getMinutes();
    var second = now.getSeconds();
    var hour_check = now_check.getHours();
    var date_check = now_check.getDate();
    var time_word = "今天";

    if(now_check_value-time_value<86400){
      if(date_check == date){
        time_word = "今天";
      }else{
        time_word = "昨天";
      }
    }else if(now_check_value-time_value<(86400*2)){
      if(date_check == date+1){
        time_word = "昨天";
      }else{
        time_word = "前天";
      }
    }else{
        time_word = "";
    }

    month = month < 10 ? "0" + month : month;
    date = date < 10 ? "0" + date : date;
    hour = hour < 10 ? "0" + hour : hour;
    minute = minute < 10 ? "0" + minute : minute;
    second = second < 10 ? "0" + second : second;
    
    if(time_word==""){
      return year + "/" + month + "/" + date;
    }else if(time_word=="今天"){
      return hour+":"+minute;
    }else if(time_word=="昨天"){
      return time_word;
    }else if(time_word=="前天"){
      return time_word;
    }
}
var check_str_empty = function(str){
  if (str==""){
    return "未填写"
  }else{
    return str
  }
}
module.exports = {
  en_name_show: en_name_show,
  timer_check: timer_check,
  check_str_empty: check_str_empty,
};